name: reusable demo
on:
  workflow_call:
    inputs:
      artifact-name:
        description: The name of thedeployabke artifact files
        required: false
        default: dist
        type: string
    outputs:
      result:
        description: the result of deployment operation
        value: ${{ jobs.deploy.outputs.outcome }}
    #secrets:
    #something:
    #required:
    #default:
    #type:
jobs:
  deploy:
    outputs:
      outcome: ${{ steps.set-result.outputs.step-result }}
    runs-on: ubuntu-latest
    steps:
      - name: get code
        uses: actions/download-artifact@v3
        with:
          name: ${{ inputs.artifact-name }}
      - name: output information
        run: echo "Deploying & uploading..."
      - name: get result output
        id: set-result
        run: echo "step-result=success" >> $GITHUB_OUTPUT
